---
title: "Categories"
---
<h1>GSoC 2014 with scikit-learn</h1>
<ul>
{% for post in site.posts %}
    {% if post.categories contains 'gsoc' %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h1>Life</h1>
<ul>
{% for post in site.posts %}
    {% if post.categories contains 'life' %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h1>Miscellaneous</h1>
<ul>
{% for post in site.posts %}
    {% if post.categories contains 'miscellaneous' %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h1>Technology</h1>
<ul>
{% for post in site.posts %}
    {% if post.categories contains 'technology' %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>